button {
  font-size: 10rem;

  width: 200px;

  height: 200px;

  display: block;

  text-align: center;
}

.counter {
  display: flex;

  justify-content: center;

  flex-direction: row;

  align-items: center;

  gap: 2rem;

  flex-flow: wrap;
}

h1 {
  font-size: 6rem;
}
